@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  background-color: rgb(3, 7, 255);
  padding: 9px 16px;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  letter-spacing: .1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1248px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn{
    padding: 14px 22px;
  }
}

